<header class="p-3 bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%= link_to 'CONTACTS ON RAILS', root_path, class: 'd-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none' %>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-cent"er mb-md-0>
        </ul>

        <div class="text-end">
          <% if !user_signed_in? %>
            <%= link_to 'Login', login_path, class: 'btn btn-outline-light me-2' %>
            <%= link_to 'Sign-up', new_user_path, class: 'btn btn-warning' %>
          <% else %>
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome, <%= current_user.name %>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><%= link_to 'My profile', edit_user_path(current_user), class: 'dropdown-item' %></li>
                    <li><%= link_to 'Contacts', contacts_path, class: 'dropdown-item' %></li>
                    <li><%= link_to 'Log out', logout_path, method: :delete, class: 'dropdown-item' %></li>
                  </ul>
                </li>
              </ul>
          <% end %>
        </div>
      </div>
    </div>
  </header>
